/* Home */
.list-title.main-title {
  @apply p-0 mt-6;
}

.main-list-describe {
  @apply mb-1 text-[var(--sub-font-color)] text-lg;
}

.banner-link {
  display: block;
  width: 180px;
  padding: 8px 0;
  border: 1px solid var(--sub-font-color);
  font-size: 16px;
  border-radius: 30px;
  text-align: center;
  @apply bg-[rgba(255,255,255,.5)]
}

.banner-link:hover {
  background-color: var(--highlight-color);
  color: #fff;
  border: 1px solid transparent;
}

/* 사이트 소개 배너 */
.banner {
  @apply flex w-full h-80 py-4 relative rounded-xl bg-[var(--bg-highlight-color)] ;
}

.banner-text-area {
  @apply pl-10 py-4 md:w-5/12 w-9/12;
  z-index: 1;
}

.banner h3 {
  @apply text-[30px] pt-1 pb-3;
}

.banner-text {
  @apply text-lg;
}

.img-box {
  @apply sm:pr-10 w-1/2 absolute bottom-0 right-0 sm:w-8/12 pr-0;
}

.one-img {
  @apply block w-10/12 max-w-7xl object-cover object-center md:hidden;
}

.all-img {
  @apply hidden md:block;
}

.banner-link.character {
  margin-top: 30px;
}

/* 예문, 퀴즈 소개 */
.main-learn {
  @apply sm:block lg:flex gap-4;
}

.main-learn > div {
  @apply lg:w-1/2
}

.banner-img-txt {
  @apply relative flex justify-between box-content h-[32vh] pt-6 pb-4 px-8 rounded-xl;
}

.banner-img-txt.study {
  @apply bg-[#dfd4f3] transition-colors duration-300 ease-in-out hover:bg-[#e8e0f7];
}

.banner-img-txt.quiz {
  @apply bg-[#dcf0d8] transition-colors duration-300 ease-in-out hover:bg-[#e5f5e2];
}

.banner-txt {
  @apply flex flex-col justify-center z-[1];
}

.banner-txt > p {
  text-shadow: 1px 1px rgba(255,255,255,.5);
  text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
  @apply pt-10 pb-8 text-5xl font-semibold transition-all duration-300 ease-in-out;
}

.banner-img-txt:hover .banner-txt > p {
  @apply text-[3rem] transform scale-105;
}


.banner-img {
  @apply absolute right-[3%] top-[10%];
  transition: transform 0.3s ease-in-out;
}

.banner-img-txt:hover .banner-img {
  transform: scale(1.1);
}

.banner-img > img {
  width: 100%;
  max-width: 280px;
}

.banner-img.study {
  transition: transform 0.2s ease-in-out;
}

.banner-img-txt:hover .banner-img.study {
  transform: scale(1.1);
}
