@tailwind components;

@layer components {
	/* Talk */
	.list-talk {
		--bubble-bg: #faf5f0;
		--bubble-bg-ov: var(--highlight-color);
		@apply flex flex-col w-full h-full rounded-xl;
		margin: 0 auto;
	}

	.list-talk .inner {
		@apply relative flex justify-center items-end flex-1 px-5 min-h-[2.5rem] overflow-hidden;
	}
	.list-talk .head {
		@apply flex justify-center items-center flex-col;
	}
	.list-talk .btn-mission {
		@apply flex gap-1 items-center absolute bottom-[10px] right-[10px] text-[#855c52] text-lg font-bold  rounded-full bg-white z-[1];
	}
	.list-talk .btn-mission img {
		@apply flex w-[30px] h-[30px];
	}
	.list-talk .profile {
		@apply relative shrink-0 h-full flex items-end;
	}
	.list-talk .profile {
		@apply bottom-[-20%];
	}
	.list-talk .profile.sad {
		@apply bottom-[-17%];
	}
	.list-talk .profile img {
		@apply w-full max-w-[500px] max-h-full;
	}

	.list-talk .head .char-info {
		@apply relative flex items-center gap-3;
	}

	.list-talk .head .char-info button {
		@apply inline-flex items-center gap-2;
	}
	.list-talk .head dt {
		@apply flex items-center font-bold h-full;
	}
	.list-talk .head a {
		@apply text-inherit inline-flex items-center gap-1;
	}

	.list-talk .desc {
		@apply h-0 overflow-hidden transition-opacity opacity-0;
	}

	.list-talk .desc.on {
		@apply h-auto overflow-visible transition-opacity  opacity-100;
	}

	.list-talk .bg-char {
		@apply absolute left-0 top-0 right-0 bottom-0 bg-no-repeat bg-cover bg-center opacity-80 z-[-1];
	}

	.list-talk .form {
		@apply relative mb-3 flex flex-col items-center gap-2 w-full  dark:border-white/20 md:border-transparent md:dark:border-transparent;
	}
	.list-talk .form .foot {
		@apply flex justify-between w-full flex-row-reverse;
	}
	.list-talk .form .btns {
		@apply flex gap-2 flex-row-reverse pr-[calc(40px+0.5rem)];
	}
	.list-talk .form .btns button {
		@apply m-0 p-0 w-[40px] h-[40px] bg-[transparent] bg-gray-100 text-black text-center text-xl rounded-full;
		line-height: 0.5;
	}

	.list-talk .form .btn-stop {
		@apply relative disabled:text-gray-400;
	}

	.list-talk .form .btn-stop.disabled {
		@apply text-gray-400;
	}

	.list-talk .form .btn-send {
		@apply m-0 p-3 relative disabled:text-gray-400;
	}

	.list-talk .form .btn-mic {
		@apply absolute bottom-0 right-0 rounded-full leading-none  text-black bg-gray-100
		m-0 p-0 w-[40px] h-[40px] text-center text-xl  disabled:text-gray-400;
		line-height: 0.5;
	}
	.list-talk .form textarea {
		resize: none;
		grid-area: 1 / 1 / 2 / 2;
	}
	.list-talk .form .textarea-wrap {
		@apply w-full grid relative;
	}
	.list-talk .form .textarea-wrap.mic-on:before {
		@apply opacity-100;
	}
	.list-talk .form .textarea-wrap:before {
		content: '';
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12 2C12.5523 2 13 2.44772 13 3V6C13 6.55228 12.5523 7 12 7C11.4477 7 11 6.55228 11 6V3C11 2.44772 11.4477 2 12 2ZM12 17C12.5523 17 13 17.4477 13 18V21C13 21.5523 12.5523 22 12 22C11.4477 22 11 21.5523 11 21V18C11 17.4477 11.4477 17 12 17ZM22 12C22 12.5523 21.5523 13 21 13H18C17.4477 13 17 12.5523 17 12C17 11.4477 17.4477 11 18 11H21C21.5523 11 22 11.4477 22 12ZM7 12C7 12.5523 6.55228 13 6 13H3C2.44772 13 2 12.5523 2 12C2 11.4477 2.44772 11 3 11H6C6.55228 11 7 11.4477 7 12ZM19.0711 19.0711C18.6805 19.4616 18.0474 19.4616 17.6569 19.0711L15.5355 16.9497C15.145 16.5592 15.145 15.9261 15.5355 15.5355C15.9261 15.145 16.5592 15.145 16.9497 15.5355L19.0711 17.6569C19.4616 18.0474 19.4616 18.6805 19.0711 19.0711ZM8.46447 8.46447C8.07394 8.85499 7.44078 8.85499 7.05025 8.46447L4.92893 6.34315C4.53841 5.95262 4.53841 5.31946 4.92893 4.92893C5.31946 4.53841 5.95262 4.53841 6.34315 4.92893L8.46447 7.05025C8.85499 7.44078 8.85499 8.07394 8.46447 8.46447ZM4.92893 19.0711C4.53841 18.6805 4.53841 18.0474 4.92893 17.6569L7.05025 15.5355C7.44078 15.145 8.07394 15.145 8.46447 15.5355C8.85499 15.9261 8.85499 16.5592 8.46447 16.9497L6.34315 19.0711C5.95262 19.4616 5.31946 19.4616 4.92893 19.0711ZM15.5355 8.46447C15.145 8.07394 15.145 7.44078 15.5355 7.05025L17.6569 4.92893C18.0474 4.53841 18.6805 4.53841 19.0711 4.92893C19.4616 5.31946 19.4616 5.95262 19.0711 6.34315L16.9497 8.46447C16.5592 8.85499 15.9261 8.85499 15.5355 8.46447Z'%3E%3C/path%3E%3C/svg%3E");
		@apply absolute left-1/2 top-1/2 ml-[-10px] mt-[-10px] w-[20px] h-[20px] animate-spin opacity-0 transition-opacity;
	}

	.list-talk .form .shortcuts {
		@apply text-xs inline-flex gap-1 flex-col items-start;
	}
	.list-talk .form .shortcuts .btn-finishchat {
		@apply text-base text-white bg-[var(--btn-bg)] py-2 px-5 rounded-full disabled:bg-gray-100 disabled:text-gray-400 shadow-lg shadow-white;
	}
	.list-talk .form .shortcut button {
		font-size: inherit;
		@apply text-white bg-[var(--btn-bg)] py-1 px-3 rounded-full;
	}
	.list-talk .form .shortcut span {
		@apply inline-flex items-center bg-gray-300 p-1 rounded-md;
	}
	.list-talk .form .shortcut svg {
		@apply font-bold;
	}

	.list-talk .progress {
		@apply h-[2px] bg-[var(--highlight-color)] overflow-hidden;
	}
	.list-talk .progress .bar {
		@apply h-full bg-gray-300;
	}

	.list-talk .foot-talking-wrap {
		@apply relative bg-[rgba(255,255,255,.5)] mt-[10px];
	}
	.list-talk .talking {
		@apply py-3;
	}
	.list-talk .talking dt {
		@apply font-bold;
	}
	.list-talk .talking .message {
		@apply mt-2 p-3 pt-2.5  h-[5.4em] overflow-auto bg-gray-50 rounded-lg;
	}
	.list-talk .history {
		@apply sticky bottom-0 w-full min-h-[5rem] max-h-[11.1rem] overflow-auto border-t-2 border-dotted border-gray-300 bg-white;
	}

	.list-talk .history li {
		@apply flex-row-reverse my-4 flex flex-1 text-base mx-auto gap-5;
	}
	.list-talk .history li .profile {
		@apply w-[50px] h-[50px] flex-shrink-0 flex flex-col relative items-end overflow-hidden rounded-lg;
	}
	.list-talk .history li .profile img {
		@apply w-full h-full object-cover;
	}
	.list-talk .history li .info {
		@apply relative flex w-full flex-col p-2 px-3 rounded-lg rounded-tr-none bg-[var(--bubble-bg-ov)] text-white shadow-lg;
	}
	.list-talk .history li.ai {
		@apply flex-row;
	}
	.list-talk .history li.ai .info {
		@apply items-start text-inherit rounded-lg rounded-tl-none bg-[var(--bubble-bg)];
	}
	.list-talk .history li:not(.ai) .info {
		@apply items-end;
	}
	.list-talk .history li .info .message {
		@apply whitespace-pre-wrap;
	}
	.list-talk .history li.user .info .message {
		@apply text-right;
	}
	.list-talk .history li .info:before {
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		width: 10px;
		height: 20px;
		background-color: var(--bubble-bg-ov);
	}
	.list-talk .history li .info:after {
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		width: 10px;
		height: 20px;
		border-radius: 20px 0 0;
		background-color: white;
	}
	.list-talk .history li.ai .info:before {
		left: auto;
		right: 100%;
		background: var(--bubble-bg);
	}
	.list-talk .history li.ai .info:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: auto;
		right: 100%;
		width: 10px;
		height: 20px;
		border-radius: 0 20px 0 0;
		background-color: white;
	}
	.list-talk .history li a {
		@apply text-blue-500;
	}
	.list-talk .history li .speaker {
		@apply cursor-pointer inline-flex items-center p-1 text-sm leading-none px-2 text-black bg-white rounded-full;
	}
	.list-talk .history li .icon {
		transform: rotateY(180deg);
	}
	.list-talk .talking .btn-history {
		@apply bg-transparent p-0 text-black border-0;
	}
	.btn-char {
		@apply relative flex gap-2 items-center;
	}
	.voiceContainer {
		@apply flex justify-center items-center gap-2;
	}
	.voiceContainer > div {
		display: flex;
		justify-content: space-between;
		height: 20px;
		--boxSize: 3px;
		--gutter: 2px;
		width: calc((var(--boxSize) + var(--gutter)) * 5);
	}
	.voiceContainer:disabled svg{
    @apply text-gray-600;
  }
	.voiceContainer:disabled .voice {
		@apply bg-gray-400;
	}
  .voiceContainer svg{
    @apply text-cyan-500;
  }
	.voice {
		transform: scaleY(0.3);
		height: 100%;
		width: var(--boxSize);
		animation-duration: 1.2s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		border-radius: 100px;
		@apply bg-sky-300;
	}
	.voiceContainer.on .voice {
		transform: scaleY(0.3);
	}
	.voice1 {
		animation-name: quiet;
	}

	.voice2 {
		animation-name: normal;
	}

	.voice3 {
		animation-name: quiet;
		animation-delay: 0.2s;
	}

	.voice4 {
		animation-name: loud;
		animation-delay: 0.2s;
	}

	.voice5 {
		animation-name: quiet;
	}

	.voiceContainer.off .voice1 {
		animation-name: none;
		animation-play-state: paused;
		transform: scaleY(0.35);
	}

	.voiceContainer.off .voice2 {
		animation-name: none;
		animation-play-state: paused;
		transform: scaleY(0.5);
	}

	.voiceContainer.off .voice3 {
		animation-name: none;
		animation-play-state: paused;
		transform: scaleY(0.3);
	}

	.voiceContainer.off .voice4 {
		animation-name: none;
		animation-play-state: paused;
		transform: scaleY(0.25);
	}

	.voiceContainer.off .voice5 {
		animation-name: none;
		animation-play-state: paused;
		transform: scaleY(0.35);
	}

	@keyframes quiet {
		25% {
			transform: scaleY(0.6);
			opacity: 0.6;
		}
		50% {
			transform: scaleY(0.4);
			opacity: 0.9;
		}
		75% {
			transform: scaleY(0.8);
			opacity: 0.7;
		}
	}

	@keyframes normal {
		25% {
			transform: scaleY(1);
			opacity: 0.4;
		}
		50% {
			transform: scaleY(0.4);
			opacity: 0.5;
		}
		75% {
			transform: scaleY(0.6);
			opacity: 0.7;
		}
	}
	@keyframes loud {
		25% {
			transform: scaleY(1);
			opacity: 0.4;
		}
		50% {
			transform: scaleY(0.4);
			opacity: 0.8;
		}
		75% {
			transform: scaleY(1.2);
			opacity: 0.3;
		}
	}
	.ly-modal {
		@apply fixed top-0 left-0 right-0 bottom-0 z-10 p-3 bg-[rgba(0,0,0,.5)] overflow-auto  overflow-x-hidden text-center;
	}
	@media screen and (max-width: 360px) {
    .ly-modal .ly-inner{
      transform:translateY(-50%);
      @apply absolute left-[10px] top-1/2 !max-h-[280px];
    }
	}
	.ly-modal:before {
		content: '';
		@apply inline-block h-full w-[1px] m-[-1px] align-middle;
	}
	.ly-modal .ly-inner {
		@apply inline-block align-middle w-[calc(100%-40px)] min-w-[340px] max-w-[640px] max-h-[640px] p-5 bg-white rounded-xl overflow-auto text-left;
	}
	.ly-modal .ly-inner .ly-head {
		@apply mb-3 flex justify-between items-center font-bold text-xl;
	}
	.ly-modal .ly-inner .ly-head span {
		@apply text-sm font-normal;
	}

	.ly-modal .ly-inner .ly-head button,
	.ly-modal .ly-inner .ly-head svg {
		font-size: inherit;
		@apply text-2xl leading-none p-0;
	}
	.ly-modal .ly-inner .ly-body {
		@apply whitespace-pre-line font-normal text-lg;
	}
	.ly-modal .ly-inner .ly-body .todo {
		@apply flex justify-between;
	}
	.ly-modal .list-mission li {
		@apply flex items-start gap-1 text-lg;
	}

	.ly-modal .list-mission li:before {
		content: '';
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 24 24" stroke-width="1.5" stroke="%2367c0cd" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>');
		@apply shrink-0 w-[20px] h-[20px] align-middle items-center mt-1;
	}
	.ly-modal .list-mission li.nodata {
		@apply my-6 w-full justify-center;
	}
	.ly-modal .list-mission li.nodata:before {
		@apply hidden;
	}
	.ly-modal .list-mission li.complete {
		@apply line-through;
	}
	.ly-modal .list-mission li.complete:before {
		content: '';
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%2367c0cd" class="w-6 h-6"> <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" /></svg> ');
		@apply inline-flex items-center;
	}
	.ly-modal .list-correct {
		counter-reset: num;
	}
	.ly-modal .list-correct li {
		@apply flex flex-row gap-2;
	}
	.ly-modal .list-correct li:before {
		content: counter(num) '. ';
		counter-increment: num;
	}

	.bg-emo {
		@apply absolute left-[10px] bottom-[10px] flex gap-1 p-2 bg-white rounded-full z-[1];
	}
	.bg-emo img {
		@apply w-[30px] h-[30px] object-cover rounded-full;
	}
} /* components */
